.selectable_shape {
  filter: brightness(0.6);
  margin: 0.5%;
}

.selected {
  filter: brightness(1);
}

.selectable_shape:hover {
  filter: brightness(1);
}



#abandon_game_button {
  display: fixed;
  left: unset;
  right: 0;
  top: 0;
  bottom: unset;
}