.row {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.column {
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.full_screen_overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;

}