.fancy_button_red:hover {
    border-color: rgb(255, 86, 86);
}

.fancy_button_blue:hover {
    border-color: rgb(59, 59, 253);
}

.fancy_button_green:hover {
    border-color: rgb(43, 129, 43);
}

.fancy_button_orange:hover {
    border-color: rgb(249, 195, 96);
}

/*---------*/

.text_button_red:hover {
    cursor: pointer;
    color: rgb(255, 86, 86);
}

.text_button_blue:hover {
    cursor: pointer;
    color: rgb(59, 59, 253);
}

.text_button_green:hover {
    cursor: pointer;
    color: rgb(43, 129, 43);
}

.text_button_orange:hover {
    cursor: pointer;
    color: rgb(249, 195, 96);
}

/*---------*/

.icon_button_red:hover {
    cursor: pointer;
    color: rgb(255, 86, 86);
}

.icon_button_blue:hover {
    cursor: pointer;
    color: rgb(59, 59, 253);
}

.icon_button_green:hover {
    cursor: pointer;
    color: rgb(43, 129, 43);
}

.icon_button_orange:hover {
    cursor: pointer;
    color: rgb(249, 195, 96);
}